<body>
  <app-navbar></app-navbar>
  <mat-tab-group>
    <mat-tab label="Notas">
      <h1>
        Ingrese el ID del Usuario
        <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
      </h1>
      <mat-selection-list [multiple]="false">
        <div class="mat-list-option-cover">
          <form class="notaForm" [formGroup]="notasID" (ngSubmit)="getNotasByID()">
            <div>
              <mat-form-field class="ancho" appearance="fill">
                <mat-label>ID Usuario</mat-label>
                <input type="string"  formControlName="id_usuario" matInput>
              </mat-form-field>
            </div>
            <a class="bnotas" button (click)="getNotasByID()">Obtener Notas</a>
          </form>
          <mat-list-option *ngFor="let nota of this.notas" >
            <mat-icon matListIcon>note_add</mat-icon>
            <div class="d-flex justify-content-between">
           <span class="nota-ID">
                        {{ nota.id }}
                    </span>

              <span class="nota-name">
                        {{ nota.name_nota }}
                    </span>
              <span class="nota-importancia">
                        {{ nota.importancia }}
                    </span>
              <span class="nota-fecha-culminacion">
                        {{ nota.fecha_culminacion }}
                    </span>
              <span class="nota_status">
                        {{ nota.status }}
                    </span>
              <span class="nota-contenido">
                    {{ nota.contenido.substring(0, 40) }}
                {{ nota.contenido.length > 30 ? "..." : "" }}
                </span>
              
            </div>

          </mat-list-option>
        </div>
      </mat-selection-list>
    </mat-tab>

    <mat-tab label="Filtrar por Importancia">
      <h1>
        Ingrese el ID del Usuario
        <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
      </h1>
      <mat-selection-list [multiple]="false">
        <div class="mat-list-option-cover">
          <form class="notaForm" [formGroup]="notasID" (ngSubmit)="getNotasByImportancia()">
            <div>
              <mat-form-field class="ancho" appearance="fill">
                <mat-label>ID Usuario</mat-label>
                <input type="string"  formControlName="id_usuario" matInput>
              </mat-form-field>
                <br/>
              <h1>
                Ingrese la Importancia de la Nota
                <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
              </h1>
              <mat-form-field class="ancho" appearance="fill">
                <mat-label>Importancia</mat-label>
                <input type="number"  formControlName="importancia" min="1" max="3" matInput>
                <mat-error>Importancia valida entre 1-3</mat-error>
              </mat-form-field>
            </div>
            <a class="bnotas" button (click)="getNotasByImportancia()">Obtener Notas</a>
          </form>
          <mat-list-option *ngFor="let nota of this.notasimport" >
            <mat-icon matListIcon>note_add</mat-icon>
            <div class="d-flex justify-content-between">
           <span class="nota-ID">
                        {{ nota.id }}
                    </span>

              <span class="nota-name">
                        {{ nota.name_nota }}
                    </span>
              <span class="nota-importancia">
                        {{ nota.importancia }}
                    </span>
              <span class="nota-fecha-culminacion">
                        {{ nota.fecha_culminacion }}
                    </span>
              <span class="nota_status">
                        {{ nota.status }}
                    </span>
              <span class="nota-contenido">
                    {{ nota.contenido.substring(0, 40) }}
                {{ nota.contenido.length > 30 ? "..." : "" }}
                </span>
            </div>

          </mat-list-option>
        </div>
      </mat-selection-list>
    </mat-tab>

    <mat-tab label="Busqueda por Nombre">
      <h1>
        Ingrese el ID del Usuario
        <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
      </h1>
      <mat-selection-list [multiple]="false">
        <div class="mat-list-option-cover">
          <form class="notaForm" [formGroup]="notasID" (ngSubmit)="getNotasByNotaName()">
            <div>
              <mat-form-field class="ancho" appearance="fill">
                <mat-label>ID Usuario</mat-label>
                <input type="string"  formControlName="id_usuario" matInput>
              </mat-form-field>
              <br/>
              <h1>
                Ingrese el Nombre de la Nota
                <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
              </h1>
              <mat-form-field class="ancho" appearance="fill">
                <mat-label>Nombre de la Nota</mat-label>
                <input type="string"  formControlName="nota_nombre" matInput>
              </mat-form-field>
            </div>
            <a class="bnotas" button (click)="getNotasByNotaName()">Obtener Notas</a>
          </form>
          <br/>
          <br/>
          <mat-list-option *ngFor="let nota of this.notasNombre" >
            <mat-icon matListIcon>note_add</mat-icon>
            <div class="d-flex justify-content-between">

              <span class="nota-ID">
                        {{ nota.id }}
                    </span>

              <span class="nota-name">
                        {{ nota.name_nota }}
                    </span>
              <span class="nota-importancia">
                        {{ nota.importancia }}
                    </span>
              <span class="nota-fecha-culminacion">
                        {{ nota.fecha_culminacion }}
                    </span>
              <span class="nota_status">
                        {{ nota.status }}
                    </span>
              <span class="nota-contenido">
                    {{ nota.contenido.substring(0, 40) }}
                {{ nota.contenido.length > 30 ? "..." : "" }}
                </span>
            </div>
          </mat-list-option>
        </div>
      </mat-selection-list>

    </mat-tab>

    <mat-tab label="Obtener Notas entre Fechas">
      <h1>
        Ingrese la fecha
        <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
      </h1>
      <mat-selection-list [multiple]="false">
        <div class="mat-list-option-cover">
          <form class="notaForm" [formGroup]="notasID" (ngSubmit)="getNotaByFCFC()">
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Ingresar Fecha</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Fecha de Inicio"  >
                  <input matEndDate formControlName="end" placeholder="Fecha de Culminación" >
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
              </mat-form-field>

            </div>
            <a class="bnotas" button (click)="getNotaByFCFC()">Obtener Notas</a>
          </form>
          <br/>
          <br/>
          <mat-list-option *ngFor="let nota of this.notasFC" >
            <mat-icon matListIcon>note_add</mat-icon>
            <div class="d-flex justify-content-between">

              <span class="nota-ID">
                        {{ nota.id }}
                    </span>

              <span class="nota-name">
                        {{ nota.name_nota }}
                    </span>
              <span class="nota-importancia">
                        {{ nota.importancia }}
                    </span>
              <span class="nota-fecha-culminacion">
                        {{ nota.fecha_culminacion }}
                    </span>
              <span class="nota_status">
                        {{ nota.status }}
                    </span>
              <span class="nota-contenido">
                    {{ nota.contenido.substring(0, 40) }}
                {{ nota.contenido.length > 30 ? "..." : "" }}
                </span>
            </div>
          </mat-list-option>
        </div>
      </mat-selection-list>


    </mat-tab>

    <mat-tab label="Actualizar Nombre de la Nota">
      <h1>
        Ingrese el ID de la Nota
        <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
      </h1>
      <form class="notaForm" [formGroup]="notasID" (ngSubmit)="actualizarNameNota()">
        <div>
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Id Nota</mat-label>
            <input type="string"  formControlName="id_nota" matInput>
          </mat-form-field>
          <br/>
          <h1>
            Ingrese el Nombre de la Nota
            <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
          </h1>
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Nombre de la Nota</mat-label>
            <input type="string"  formControlName="nota_nombre" matInput>
          </mat-form-field>
        </div>
        <a class="bnotas" button (click)="actualizarNameNota()">Actualizar</a>
      </form>
    </mat-tab>

    <mat-tab label="Actualizar Descripcion">
      <h1>
        Ingrese el ID de la Nota
        <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
      </h1>
      <form class="notaForm" [formGroup]="notasID" (ngSubmit)="actualizarDescriptionNota()">
        <div>
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Id Nota</mat-label>
            <input type="string"  formControlName="id_nota" matInput>
          </mat-form-field>
          <br/>
          <h1>
            Actualice la Descripción de la nota
            <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
          </h1>
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Descripcion Actualizada</mat-label>
            <input type="string"  formControlName="description" matInput>
          </mat-form-field>
        </div>
        <a class="bnotas" button (click)="actualizarDescriptionNota()">Actualizar</a>
      </form>
    </mat-tab>

    <mat-tab label="Eliminar Nota">
      <h1>
        Ingrese el ID de la Nota a Eliminar
        <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
      </h1>
      <form class="notaForm" [formGroup]="notasID" (ngSubmit)="eliminarCuenta()">
        <div>
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Id Nota</mat-label>
            <input type="string"  formControlName="id_nota" matInput>
          </mat-form-field>
        </div>
        <a class="bnotas" button (click)="eliminarCuenta()">Eliminar</a>
      </form>
    </mat-tab>
  </mat-tab-group>
</body>
  <!--<mat-selection-list [multiple]="false">
    <div class="mat-list-option-cover">
      <button (click)="getNotasByID()">Obtener Notas por Usuario ID:</button>
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Ingresa tu ID de Usuario</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="id_user" required>
        </mat-form-field>
      </div>

      <mat-list-option *ngFor="let nota of this.notas">
        <div class="d-flex justify-content-between">

                    <span class="nota-name">
                        {{ nota.name_nota }}
                    </span>
          <span class="nota-importancia">
                        {{ nota.importancia }}
                    </span>
          <span class="nota-fecha-creacion">
                        {{ nota.fecha_creacion }}
                    </span>
          <span class="nota-fecha-culminacion">
                        {{ nota.fecha_culminacion }}
                    </span>
        </div>
        <span class="nota-contenido">
                    {{ nota.contenido.substring(0, 40) }}
          {{ nota.contenido.length > 30 ? "..." : "" }}
                </span>
      </mat-list-option>
    </div>
  </mat-selection-list>
</div> -->

