<mat-toolbar color="primary">
    <span>WhatTime</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/notes">Notas</button>
  <button mat-button routerLink="/create">Crear Cuenta</button>
  <button mat-button routerLink="/createnota">Crear Nota</button>
    <span class="example-spacer"></span>
    <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
    <button mat-icon-button class="example-icon" (click)="ingresar()" aria-label="Example icon-button with menu icon">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
