<div class="body">
<a class="boton" button (click)="regresar()" type="submit" mat-button color="primary">Regresar</a>
<br/>
<h1>Creación de cuenta
  <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
</h1>
  <div class="Caja">
    <mat-card>
     <form class="usuarioForm" [formGroup]="userForm" (ngSubmit)="createUsuario()">
        <div>
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Nombre:</mat-label>
            <input type="string"  formControlName="nombre" matInput>
          </mat-form-field>

          <br/>
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Correo:</mat-label>
            <input type="string" formControlName="correo" matInput>
          </mat-form-field>

          <br/>
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Contraseña:</mat-label>
            <input type="string" formControlName="contrasena" matInput>
          </mat-form-field>
        </div>
      </form>
      <div class="text-right">
        <a class = "boton" button (click)="createUsuario()" type="submit" mat-button color="primary">Crear Cuenta</a>

      </div>
    </mat-card>

  </div>
</div>
