.body{
 background-color:#D5F7B6;
}
h1{
  color: black;
  text-align: center;
  padding: 20px;
  font-family: 'Neucha', cursive;
  font-size: 5em;
}
.Caja{
  max-height: 100px;
  padding: 50px;
  margin: auto;
  max-width: 500px;
}
.usuarioForm{
  text-align:center;
  max-height: 350px;
  padding: 50px;
  margin: auto;
  height: 100%;
}
.boton{
  text-decoration:none;
  font-weight: 600;
  font-size: 20px;
  color:#ffffff;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:40px;
  padding-right:40px;
  background-color:#254FE6;
  border-width: 3px;
  border-style: solid;
}
.boton:hover{
  color: #254FE6;
  background-color: #D5F7B6;
}

