<div class="body">

    <div class="login">
      <img [src]="logo" alt="" width="50%" height="80%">
      <mat-card>
        <form class="usuarioForm" [formGroup]="usuarioForm" (ngSubmit)="login()">
          <div>
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Nombre:</mat-label>
              <input matInput type="string"  formControlName="nombre_user" required="required" pattern="[A-Za-z0-9]{1,20}">
            </mat-form-field>
            <br/>
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Contraseña:</mat-label>
              <input matInput type="string" formControlName="password" required="required"pattern="[A-Za-z0-9]{1,20}">
            </mat-form-field>
          </div>
          <button (click)="login()" class="ancho" mat-raised-button mat-button color="primary">Ingresar</button>
          <br/>
          <br/>
          <button (click)="crearUsuario()" class="ancho" mat-raised-button mat-button color="primary"  >Crear Cuenta</button>
        </form>

      </mat-card>

    </div>
</div>
