
.body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D5F7B6;
    height: 100%;
  }
  .login {
    padding: 80px;
    margin: auto;
    text-align:center;
  }

  .ancho {
    width: 80%;
  }
  .logo{
    padding: 50px;
  }
  .usuarioForm
  {
    margin-bottom: 20px;
  }




