<div class="Usuarios">
  <h1>Usuarios</h1>
  <mat-selection-list [multiple]="false">
    <div class="mat-list-option-cover">
      <mat-list-option *ngFor="let usuario of this.usuarios">
        <div class="d-flex justify-content-between">
                    <span class="usuario-detail">
                        {{ usuario.id }}
                    </span>
          <span class="usuario-detail">
                        {{ usuario.nombre }}
                    </span>
          <span class="usuario-detail">
                        {{ usuario.correo }}
                    </span>
        </div>
      </mat-list-option>
    </div>
  </mat-selection-list>
</div>
